* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--color-main-background);
    color: var(--color-contrast)
  }